@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins';
  scroll-behavior: smooth;
  
}



::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb{
  background: blue;
}

/* globals.css */
:root {
  --background: #ffffff; /* Example background color */
  --foreground: #000000; /* Example foreground color */
}


.dark{
  background: radial-gradient(125% 125% at 50% 20%, rgba(0, 0, 0, 1) 50%, rgb(13, 1, 175) 100%);
}

.red-period{
  color: blue;
}